{{- if .Values.mongo.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: mongo-auth
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: {{ .Values.mongo.auth.username | quote }}
  MONGO_INITDB_ROOT_PASSWORD: {{ .Values.mongo.auth.password | quote }}
{{- end }}