apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-tech-challenge
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:Redjon27/devops-tech-challenge.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - Validate=true
      